@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::brfore, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid black;
  font-family: "Noto Sans TC", sans-serif;
}

.container {
  padding: 0 107px 0 107px;
}
@media (max-width: 768px) {
  .container {
    padding: 20px;
  }
}
@media (max-width: 375px) {
  .container {
    padding: 16px 20px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 46px;
}
@media (max-width: 375px) {
  .header {
    border-bottom: 2px solid #FFD153;
    padding-bottom: 16px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header .logo a {
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 218.06px;
  height: 40px;
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/logo.png");
  background-size: contain;
}
@media (max-width: 375px) {
  .header .logo a {
    width: 130.84px;
    height: 24px;
  }
}
.header .charge {
  font-size: 16px;
  text-decoration: none;
  padding: 8px 32px;
  background: #FF5D50;
  border-radius: 50px;
  color: white;
  line-height: 1.3;
}

.headerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 375px) {
  .headerContent {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.headerContent p {
  font-size: 48px;
  line-height: 1.3;
}
@media (max-width: 768px) {
  .headerContent p {
    font-size: 38px;
  }
}
@media (max-width: 375px) {
  .headerContent p {
    font-size: 32px;
  }
}
.headerContent .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.headerContent .text .sup {
  color: #56C4C5;
  font-size: 18px;
  margin-bottom: 8px;
}
@media (max-width: 375px) {
  .headerContent .text .sup {
    font-size: 16px;
  }
}
.headerContent .text .sub {
  font-size: 20px;
  margin-top: 16px;
}
@media (max-width: 768px) {
  .headerContent .text .sub {
    font-size: 18px;
  }
}
@media (max-width: 375px) {
  .headerContent .text .sub {
    font-size: 16px;
  }
}
.headerContent img {
  width: 532px;
  height: 534px;
}
@media (max-width: 768px) {
  .headerContent img {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 375px) {
  .headerContent img {
    width: 304px;
    height: 305px;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/bg_home_sm.svg");
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
}

.totop {
  width: 71px;
  height: 71px;
  border-radius: 100%;
  background: #56C4C5;
  color: white;
  line-height: 71px;
  text-align: center;
  position: fixed;
  right: 50px;
  bottom: 30px;
  z-index: 999;
}
.totop:hover {
  cursor: pointer;
}
@media (max-width: 375px) {
  .totop {
    width: 50px;
    height: 50px;
    line-height: 50px;
    right: 16px;
    bottom: 16px;
  }
}

.copyright {
  background: #F5F5F5;
  padding: 16px 0 16px 0;
}
.copyright p {
  font-size: 16px;
  text-align: center;
}

.swiper {
  width: 335PX;
  height: 304px;
  display: none;
  --swiper-pagination-color: #FFD153;
}
@media (max-width: 375px) {
  .swiper {
    display: block !important;
  }
}
.swiper .swiper-wrapper .swiper-slide {
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  font-size: 16px;
  line-height: 1.4;
  position: relative;
  text-align: left;
}
.swiper .swiper-wrapper .swiper-slide .underline {
  padding: 100px 17px 48px 10px;
}
.swiper .swiper-wrapper .swiper-slide p {
  padding-left: 17px;
}
.swiper .swiper-wrapper .swiper-slide img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  position: absolute;
  top: 0px;
  left: 30px;
}
.swiper .swiper-wrapper .swiper-slide .underline::after {
  content: "";
  background-color: #DDDDDD;
  display: block;
  margin-top: 25px;
  width: 100%;
  height: 1px;
  text-decoration: underline;
}
.swiper .swiper-wrapper .swiper-slide .company {
  font-weight: bold;
}
.swiper .swiper-wrapper .swiper-slide span {
  float: right;
}
.swiper .swiper-wrapper .swiper-slide span i {
  color: #F5CA52;
  margin-right: 5px;
}

.rate_title {
  display: none;
}
@media (max-width: 375px) {
  .rate_title {
    display: block;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 32px;
  }
}

body {
  font-family: "Noto Sans TC", sans-serif;
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/bg_home.svg"), url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/ball01.svg"), url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/ball02.svg"), url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/ball03.svg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: right top, -240px 589px, 90% 1650px, 320px 2600px;
  max-width: 1688px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  body {
    background-size: 80%, auto, auto, auto;
  }
}
@media (max-width: 375px) {
  body {
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/ball01.svg"), url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/ball02.svg"), url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/ball03.svg");
    background-size: 40%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: -110px 12%, 130% 54%, -54px 85%;
  }
}

*, *::brfore, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid black;
}

.plat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 200px;
  margin-bottom: 100px;
}
@media (max-width: 375px) {
  .plat {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.plat_h {
  width: 100%;
  text-align: center;
  font-size: 32px;
  margin-bottom: 48px;
  font-weight: bold;
}
@media (max-width: 375px) {
  .plat_h {
    font-size: 28px;
  }
}

.plat_d {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding-right: 139px;
  padding-left: 139px;
}
@media (max-width: 768px) {
  .plat_d {
    padding-right: 0;
    padding-left: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 375px) {
  .plat_d {
    padding-right: 0;
    padding-left: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.plat_d li {
  width: 33.33333%;
  text-align: center;
}
@media (max-width: 375px) {
  .plat_d li {
    width: 100%;
  }
}
.plat_d li img {
  width: 90px;
  height: 90px;
}
@media (max-width: 375px) {
  .plat_d li img {
    height: 60px;
    width: 60px;
  }
}
.plat_d li h3 {
  font-size: 24px;
  margin: 24px 0 24px 0;
  font-weight: bold;
}
@media (max-width: 375px) {
  .plat_d li h3 {
    font-size: 18px;
    margin: 16px 0 16px 0;
  }
}
.plat_d li p {
  font-size: 16px;
  color: #747474;
  line-height: 1.4;
}
@media (max-width: 375px) {
  .plat_d li p {
    font-size: 16px;
    margin-bottom: 24px;
  }
}

.role {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
}
@media (max-width: 375px) {
  .role {
    margin-bottom: 60px;
  }
}
.role h2 {
  font-size: 32px;
  width: 100%;
  margin-bottom: 16px;
  font-weight: bold;
}
@media (max-width: 375px) {
  .role h2 {
    font-size: 28px;
  }
}
.role p {
  font-size: 20px;
  width: 100%;
  margin-bottom: 48px;
}
@media (max-width: 375px) {
  .role p {
    font-size: 18px;
    margin-bottom: 32px;
  }
}
.role .role_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media (max-width: 768px) {
  .role .role_list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 375px) {
  .role .role_list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.role .role_list li {
  text-align: center;
  margin-right: 16px;
  border-radius: 8px;
  -webkit-box-shadow: 1px 2px 7px #00000014;
          box-shadow: 1px 2px 7px #00000014;
  overflow: hidden;
}
@media (max-width: 375px) {
  .role .role_list li {
    margin: 0 0 24px 0;
  }
}
.role .role_list li img {
  width: 260px;
  height: 260px;
}
.role .role_list li h4 {
  color: #56C4C5;
  font-size: 16px;
  margin: 16px 0 16px 0;
  font-weight: bold;
}
.role .role_list li p {
  font-size: 16px;
  line-height: 1.5;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 139px;
  padding-left: 139px;
}
@media (max-width: 768px) {
  .feature {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (max-width: 375px) {
  .feature {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    margin-bottom: 60px;
  }
}
.feature .feature_list {
  width: 50%;
}
@media (max-width: 375px) {
  .feature .feature_list {
    width: 100%;
  }
}
.feature .feature_list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 768px) {
  .feature .feature_list ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (max-width: 375px) {
  .feature .feature_list ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.feature .feature_list ul li {
  width: 25%;
  padding: 32px 32px 48px 32px;
  -webkit-box-shadow: 0 2px 10px #00000014;
          box-shadow: 0 2px 10px #00000014;
  margin-right: 47px;
  margin-bottom: 28px;
}
.feature .feature_list ul li .fl_p {
  width: 86px;
  height: 86px;
  border-radius: 100%;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  position: relative;
}
@media (max-width: 768px) {
  .feature .feature_list ul li {
    width: 32%;
    margin: 0;
  }
}
@media (max-width: 375px) {
  .feature .feature_list ul li {
    width: 50%;
    margin: 0 0 24px 0;
  }
}
.feature .feature_list ul li img {
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.feature .feature_list ul li p {
  font-size: 16px;
  line-height: 1.4;
}
.feature .feature_list ul li .l_title {
  margin-top: 24px;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: bold;
}
.feature .feature_text {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  line-height: 1.5;
}
@media (max-width: 768px) {
  .feature .feature_text {
    width: 40%;
  }
}
@media (max-width: 375px) {
  .feature .feature_text {
    width: 100%;
    margin-bottom: 32px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
.feature .feature_text h3 {
  font-size: 32px;
  font-weight: bold;
}
@media (max-width: 375px) {
  .feature .feature_text h3 {
    font-size: 28px;
  }
}
.feature .feature_text p {
  font-size: 18px;
  margin-top: 16px;
  margin-bottom: 24px;
}
@media (max-width: 375px) {
  .feature .feature_text p {
    font-size: 16px;
  }
}
.feature .feature_text a {
  font-size: 18px;
  padding: 12px 32px;
  color: white;
  background: #56C4C5;
  border-radius: 27px;
  text-decoration: none;
}

.rate {
  margin-top: 100px;
  text-align: center;
  padding-left: 139px;
  padding-right: 139px;
  margin-bottom: 134px;
}
@media (max-width: 768px) {
  .rate {
    margin: 0 0 60px 0;
    padding: 0;
  }
}
@media (max-width: 375px) {
  .rate {
    display: none;
  }
}
.rate h3 {
  font-size: 32px;
  margin-bottom: 104px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .rate h3 {
    margin-top: 100px;
    font-size: 28px;
  }
}
.rate ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.rate ul li {
  width: 22.6666%;
  margin-right: 16px;
  padding: 48px 30px 24px 32px;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  font-size: 16px;
  line-height: 1.4;
  position: relative;
  text-align: left;
}
@media (max-width: 768px) {
  .rate ul li {
    width: 80%;
    margin: 0;
  }
}
.rate ul li img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  position: absolute;
  top: -50px;
  left: 30px;
}
.rate ul li .underline::after {
  content: "";
  background-color: #DDDDDD;
  display: block;
  margin-top: 25px;
  width: 100%;
  height: 1px;
  text-decoration: underline;
}
.rate ul li .company {
  font-weight: bold;
  margin-top: 48px;
  margin-bottom: 8px;
}
.rate ul li span {
  float: right;
}
.rate ul li span i {
  color: #F5CA52;
  margin-right: 5px;
}

.footer {
  position: relative;
  text-align: center;
  padding-bottom: 100px;
  width: 100%;
  background: no-repeat top/cover url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/home_footer.svg");
}
@media (max-width: 375px) {
  .footer {
    padding-bottom: 60px;
    height: 461px;
    background: no-repeat top/contain url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/footer_sm.svg");
  }
}
.footer p {
  width: 100%;
  padding-top: 350px;
  font-size: 32px;
  font-weight: bold;
}
@media (max-width: 375px) {
  .footer p {
    background-size: 100% auto, contain;
    font-size: 24px;
  }
}
.footer a {
  background: #56C4C5;
  color: white;
  padding: 12px 32px;
  font-size: 18px;
  display: inline-block;
  border-radius: 27px;
  margin-top: 48px;
  text-decoration: none;
}