@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');

body {
    font-family: 'Noto Sans TC', sans-serif;
    background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/bg_home.svg');
    background-repeat: no-repeat;
    background-position: right top;

}
*,*::brfore,*::after {
    box-sizing:border-box;
    border:1px solid black;
}

.container {
    padding:0 107px 0 107px;
}
.header {
    display:flex;
    justify-content:space-between;
    margin-top:24px;
    margin-bottom:46px;
    .logo a{
        text-indent: 101%;
        white-space: nowrap;
        overflow: hidden;
        display:block;
        width: 218.06px;
        height: 40px;
        background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/logo.png');
        background-size: contain;
    }
    .charge {
       font-size:16px;
       text-decoration: none;
       padding:8px 32px;
       background: #FF5D50;
       border-radius:50px;
       color:white; 
       line-height:1.3;
    }
}
.headerContent {
    display:flex;
    justify-content:space-between;
    p {
        font-size:48px;
        line-height: 1.3;
    }
    .text {
        display:flex;
        flex-direction: column;
        justify-content: center;
        .sup {
            color:#56C4C5;
            font-size: 18px;
            margin-bottom:8px;
        }
        .sub {
            font-size:20px;
            margin-top: 16px;
        }
    }
    img {
        width: 532px;
        height: 534px;
    }
}
.plat {
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    margin-top:200px;
    margin-bottom:100px;
}
.plat_h {
    width:100%;
    text-align: center;
    font-size:32px;
    margin-bottom:48px;
}
.plat_d {
    display:flex;
    justify-content: space-around;
    width:100%;
    padding-right:139px;
    padding-left: 139px;
    li{
        width:33.33333%;
        text-align: center;
        // padding:0 33px 0 33px;
        img {
            width:90px;
            height:90px;
        }
        h3 {
            font-size:24px;
            margin:24px 0 24px 0;
        }
        p {
            font-size:16px;
            color:#747474;
            line-height: 1.4;
        }
    }
}

.role {
    display:flex;
    text-align:center;
    flex-wrap:wrap;
    justify-content: center;
    margin-bottom: 100px;
    h2 {
        font-size: 32px;
        width:100%;
        margin-bottom: 16px;
    }
    p {
        font-size: 20px;
        width:100%;
        margin-bottom: 48px;
    }
    .role_list {
        display:flex;
        li {
            text-align: center;
            margin-right: 16px;
            border-radius:8px;
            box-shadow:1px 2px 7px #00000014;
            overflow: hidden;
            img {
                width: 260px;
                height: 260px;
            }
            h4 {
                color:#56C4C5;
                font-size:16px;
                margin:16px 0 16px 0;
            }
            p {
                font-size:16px;
                line-height: 1.5;
            }
        }
    }
}

.feature {
    display: flex;
    justify-content: center;
    padding-right:139px;
    padding-left:139px;
    .feature_list {
        width: 60%;
        ul {
        display:flex;
        flex-wrap:wrap;
        li {
            width:25%;
            padding:32px 32px 48px 32px;
            box-shadow: 0 2px 10px #00000014;
            margin-right:47px;
            margin-bottom:28px;
            img {
                border-radius: 100%;
                box-shadow: 0px 2px 10px #00000014;
                padding:15px 15px;
            }
            p {
                font-size:16px;
                line-height: 1.4;
            }
            .l_title{
                margin-top:24px;
                margin-bottom:16px;
                font-size: 18px;
            }
        }
    }
    }
    .feature_text {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        line-height: 1.5;
        h3 {
            font-size:32px;
        }
        p {
            font-size:18px;
            margin-top:16px;
            margin-bottom: 24px;
        }
        a {
            font-size:18px;
            padding:12px 32px;
            color:white;
            background: #56C4C5;
            border-radius: 27px;
            text-decoration: none;
        }
    }
}


.totop {
    width: 71px;
    height: 71px;
    border-radius:100%;
    background: #56C4C5;
    color:white;
    line-height:71px;
    text-align: center;
    position:fixed;
    right:50px;
    bottom:30px;
    &:hover {
        cursor: pointer;
    }
}
